// See: https://sass-lang.com/

body {
  background-color: #fff;

  font-family: 'Cabin',
    sans-serif;

  main {
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 100px;

    h1 {
      font-size: 2em;
      color: #4c4c4c;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: 992px) {
  body main {
    top: 194px;
  }
}
