// See: https://sass-lang.com/

body {
  background-color: #4c4c4c;

  font-family: 'Cabin',
    sans-serif;

  h1 {
    font-size: 2em;
    color: #FFF;
    margin-bottom: 32px;
  }
}

main {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 100px;
}
