/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1031;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  background-color: #fefefe;
  top: 80px;
  margin: 0 auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 90%;
  /* Could be more or less, depending on screen size */
}


i.fas.fa-times.close {
  display: flex;
}

/* The Close Button */
.close {
  flex-direction: row;
  justify-content: flex-end;
  color: #aaa;
  float: right;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#newTask {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #F2BE22;
  border: none;
  border-radius: 100px;
  width: 85px;
  height: 85px;
  margin: 0;
  -webkit-box-shadow: 10px 10px 20px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.nav-item i {
  margin-right: 16px;
}

.fa-plus {
  color: white;

}

.form-check-label {
  font-size: 20px;
  margin-left: 8px;
}

.form-check {
  margin-bottom: 16px;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

#ui-datepicker-div {
  z-index: 1032 !important;
  font-family: 'Cabin', sans-serif;
}
