$SLIDEOUT_TIME: 0.5s;
$FADE_TIME: 1s;

.task-list {
  display: flex;
  flex-direction: column;
  color: #484848;


  transition: $SLIDEOUT_TIME;
  transition-timing-function: cubic-bezier(.48, 0, .07, 1);

  .task-name {
    font-size: 1.2em;
  }

  .task {
    height: 10%;
    margin-bottom: 1%;
    background-color: hsl(0, 0%, 20%);
    color: #fff;


    transition: $SLIDEOUT_TIME;
    transition-timing-function: cubic-bezier(.48, 0, .07, 1);

    &.completed {
      background-color: hsl(0, 0%, 50%);
      color: hsl(0, 0%, 30%)
    }
  }





  .row {
    padding: 1em;

    .col {
      padding: 0;
    }
  }

  .container.fas {
    padding: 0.5em;
  }

  .task-icons {
    text-align: center;

    i {
      padding: 0.25em;
    }
  }

}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.gray {
  color: #848484;
}

.task-list.slideOut {
  opacity: 0%;
  transform: translateX(-100%);
}

.task.squash {
  transform: scale(0);
}

.hidden {
  display: none;
}

@media (min-width: 992px) {
  .task-icons {
    font-size: 1.5em;
  }

  .task-list .task-name {
    font-size: 1.5em;
  }
}
