.task-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
  color: #484848;

  .task-name {
    font-size: 1.5em;
  }

  .task {
    height: 10%;
    margin-bottom: 1%;
    background-color: #473fe7;
    color: #fff;
  }

  .row {
    padding: 1em;

    .col {
      padding: 0;
    }
  }

  .container.fas {
    padding: 0.5em;
  }

  .task-icons {
    text-align: center;

    i {
      padding: 0.25em;
    }
  }

}

