.task-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
  color: #484848;

  transition: 2s;

  // animation-duration: 3s;

  .task-name {
    font-size: 1.2em;
  }

  .task {
    height: 10%;
    margin-bottom: 1%;
    background-color: #007bff;
    color: #fff;
  }

  .row {
    padding: 1em;

    .col {
      padding: 0;
    }
  }

  .container.fas {
    padding: 0.5em;
  }

  .task-icons {
    text-align: center;

    i {
      padding: 0.25em;
    }
  }

}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.gray {
  color: #848484;
}

.task-list.slideOut {
  transition: 2s;
  transform: translateX(-100%),
}

.sort-animation {
  animation: 2s
}

@keyframes slideOut {
  from {
    translate: 0%;
  }

  to {
    translate: 100%;
  }

  ;
}

@media (min-width: 992px) {
  .task-icons {
    font-size: 1.5em;
  }

  .task-list .task-name {
    font-size: 1.5em;
  }
}
